header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: rgb(249, 16, 121);
}

header.left {
    display: flex;
    align-items: flex-start;
}

header.right {
    display: flex;
    align-items: flex-end;
    margin-right: 100px;
}

.profile-button {
    position: relative;
}

.profile-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
    top: 90%;
    right: 0;
    display: flex;
    flex-direction: column;
    background: white;
    height: 100px;
    width: 150px;
    cursor: pointer;

    /* z-index: 1; */
}

.profile-dropdown {
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

/* #login {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: left;
} */