header.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: red;
}

header.left {
    display: flex;
    align-items: flex-start;
}

header.right {
    display: flex;
    align-items: flex-end;
}

