.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    right: 0;
    border-bottom: 1px #d6d6d6 solid;
    
}


#home-icon{
    display: flex;
    align-items: center;
    height: 150px;
    margin-left: 15%;
    position: relative;
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #a2a2a2;
    width: 200px;
    border-radius: 20px;
    position: static;
}

.profile-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8%;
}
.profile-button-div {
    display: flex;
    justify-content: space-evenly;
    border-radius: 21px;
    background-color: #00000000;
    border: solid 1px #c7c7c7;
    padding: 3px 3px 3px 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 65px;
}

.profile-photo{
    display: flex;
    overflow: hidden;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    
    
}

.profile-photo img{
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 30px;   
}

.profile-button-div:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}

.profile-menu {
    padding-top: 6px;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
}

#profile-button {
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    font-size: 14px;
}

.profile-icon {
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 15px;
    padding-top: 15px;
    top: 70px;
    right: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    /* height: 150px; */
    width: 150px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
    z-index: 999;
}

.signup-button{
    display: flex;
    width: 150px;
    height: 25px;
    
}

#drop-signup{
    background-color: transparent;
    border: 0px;
    width: 150px;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.login-button{
    display: flex;
    height: 25px;
    width: 150px;
   
}

#drop-login {
    background-color: transparent;
    border: 0px;
    width: 150px;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.logout-button {
    display: flex;
    height: 25px;
    width: 150px;
    
}

#drop-logout{
    background-color: transparent;
    border: 0px;
    width: 150px;
    height: 25px;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.account-button a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    height: 25px;
    width: 150px;
    margin-top: 5px;
    padding-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #000000;
}

.host-button {
    display: inline;
    height: 25px;
    width: 150px;
}

#drop-host {
    background-color: transparent;
    border: 0px;
    height: 25px;
    width: 150px;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.help-button{
    display: flex;
    height: 25px;
    width: 150px;
    margin-bottom: 17px;
    margin-top: 4px;
}

#drop-help{
    background-color: transparent;
    border: 0px;
    height: 25px;
    width: 150px;
    cursor: pointer;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

#drop-help:hover {
    background-color: rgb(236, 236, 236);
}


#drop-signup:hover{
    background-color: rgb(236, 236, 236);
}

#drop-login:hover{
    background-color: rgb(236, 236, 236)
    ;
}

#drop-logout:hover {
    background-color: rgb(236, 236, 236);
}

#drop-host:hover {
    background-color: rgb(236, 236, 236);
}

.divider{
    display: flex;
    height: 5px;
    width: 100%;
    border-bottom: 1px solid #c5c5c5;
}
