.banner {
    background: url("https://vwartclub.com/media/projects/1672/1.jpg") center center; 

  
    padding-bottom: px;
    height: 60vh;
    position: relative;
    z-index: -1;
    /* border-radius: 0px 0px 8px 8px; */
}
