.banner {
    background: url("https://images1.apartments.com/i2/iDj-FW5pnhvyFAt-fgFmSAHWSuT5YUODH8-QN58CnjI/116/930-s-mill-st-aspen-co-primary-photo.jpg") center center; 

  
    padding-bottom: px;
    height: 60vh;
    position: relative;
    z-index: -1;
    border-radius: 0px 0px 8px 8px;
}
