
.profile-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 120px;
    justify-content: space-between;
    position: relative;
    /* border: 1px solid red; */
}

.intro-container{
    display: flex;
}

.left-container{
    display: flex;
    width: 100%;
    justify-content: center;
}

.left-inner-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 320px;
    height: 620px;
    border: 1px solid #c8c8c8;
    border-radius: 12px;
}


.profile-picture-container{
    display: flex;
    border: 1px solid #c8c8c8;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 28px;
    margin-bottom: 8px;
}

.profile-picture-container img{
    width: 125px;
    object-fit: cover;
}

#update-photo{
    display: flex;
    font-size: 14px;
    text-decoration: underline;
}

label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

#update-photo {
    display: none;
}

.profile-reviews-container{
    display: flex;
    height: 25px;
    width: 320px;
    justify-content: flex-start;
    align-items: center;
    padding-left: 50px;
    margin-top: 45px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 20px;

}


.verification-container{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'HelveticaNeue', sans-serif;
    justify-content: flex-start;
    padding-left: 50px;
    width: 320px;
    height: 25px;
}

.divider-container{
    border-bottom: #e8e8e8 1px solid;
    display: flex;
    width: 270px;
    margin-top: 50px;
}

.confirmed-container{
    display: flex;
    justify-content: flex-start;
    width: 320px;
    height: 25px;
    align-items: center;
    padding-left: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.confirmed-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 320px;
    height: 35px;
    padding-left: 50px;
}

.confirmed-text{
    padding-left: 5px;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans','HelveticaNeue', sans-serif;
}

.right-container{
    display: flex;
    width: 100%;
    /* border: 1px solid blue; */
}

.right-inner-container{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

.intro{
    display: flex;
    width: 100%;
    font-size: 33px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
}

.joined{
    display: flex;
    color: #989898;
    height: 25px;
    align-items: center;
    font-size: 12px;
}

.edit{
    display: flex;
    width: 100%;
    text-decoration: underline;
    font-size: 14px;
    height: 25px;
    align-items: center;
}

.about{
    display: flex;
    width: 100%;
    font-size: 23px;
    height: 30px;
    align-items: center;
    margin-top: 10px;
    /* border: 1px solid green; */
}

.lives-in{
    display: flex;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    align-items: center;
}

.lives-in-text{
    display: flex;
    margin-left: 5px;
}

.review-title{
    margin-left: 10px;
    width: 100%;
}

.right-divider{
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    width: 85%;
}

.reviews{
    display: flex;
    flex-direction: column;
    width: 85%;
    font-size: 23px;
    /* border: 1px solid red;   */
}
.profile-review-header{
    display: flex;
    width: 100%;
    margin-bottom: 8px;
}
.review-star{
    display: flex;
    align-items: center;
}

.review-card {
    border: 1px solid #c8c8c8;
    margin-bottom: 8px;
    border-radius: 8px;
    width: 400px;
}

.review-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}

.review-card-top{
    display: flex;
    width: 100%;
}

.review-card-left{
    display: flex;
    width: 50%;
    /* border: 1px solid red; */
}

.review-listing-pic{
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 2px;
}

.review-card-right{
    display: flex;
    width: 50%;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.review-listing-pic img{
    display: flex;
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.review-listing-pic:hover{
    scale: 1.02;
}
.profile-review{
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 1px solid blue; */
}

/* .delete-review-container{
    display: flex;
    width: 100%;
  
    height: 50px;
    align-items: center;
    justify-content: center;
}

.delete-review-container button {
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #d8d8d8;
    color: black;
    background-color: #fefefe;
    width: 120px;
    cursor: pointer;
    height: 20px;
    margin-top: 2px;
}

.delete-review-container button:hover {
    background-color: #e0024c;
    color: white;
} */

.trips-section-text {
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'HelveticaNeue', sans-serif;
}

.trips-info {
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    width: 400px;
    overflow: hidden;
     
    /* border: 1px solid red  */
}

.trips-card {
    border: 1px solid #c8c8c8;
    margin-bottom: 8px;
    border-radius: 8px;
}

.trips-card-top{
    display: flex;
    width: 100%;
    /* border: 2px solid black; */
}

.trips-card-left{
    display: flex;
    width: 50%;
    border: 1px solid red;
}

.trips-listing-pic{
    display: flex;
    width: 100%;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-right: 10px;
    margin-left: 2px;
}

.trips-listing-pic img{
    width: 200px;
    border-radius: 12px;    
    /* margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    margin-top: -4px; */
}

.trips-card-right{
    display: flex;
    width: 50%;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.trip-title{
    display: flex;
    border: 1px solid red;
    width: 100%;
}

.trip-dates{
    display: flex;
    border: 1px solid red;
    width: 100%;
} 

.trip-guest-count{
    display: flex;
    border: 1px solid red;
    width: 100%;
}


.trips-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}



.listing-section-text{
    display: flex;
    height: 50px;
    align-items: center;
    font-size: 22px;
    font-family: -apple-system,BlinkMacSystemFont, 'Segoe UI', Roboto,Oxygen, Ubuntu, Cantarell, 'Open Sans','HelveticaNeue', sans-serif;
    
}

.listing-info{
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    width: 400px;
    overflow: hidden;
    /* border: 1px solid red  */
}

.listing-card{
    border: 1px solid #c8c8c8;
    margin-bottom: 8px;
    border-radius: 8px;
    
}

.listing-card:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.30);
}

.listing-info img{
    width: 200px;
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 1px;
    margin-top: -4px;   
}

.listing-info img:hover{
    scale: 1.02;
}

.profile-listing-top{
    display: flex;
    margin-top: 10px;
}

.profile-listing-ruler{
    border-bottom: 1px solid #c8c8c8;
}

.profile-listing-options{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.learn-more{
    display: flex;
    width: 270px;
    margin-top: 20px;
    font-size: 14px;   
}

#learn-more{
   color: black;
   cursor: pointer;
   font-style: bold;
   text-decoration: underline;
}

.profile-listing-option button{
    text-decoration: none;
    border: none;
    color: black;
    background-color: #fefefe;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100%;
    cursor: pointer;
    height: 25px;
}

.profile-listing-option button:hover{
    background-color: #e0024c;
    color: white;
    height: 25px;   
}

.button-left{
    display: flex;
    width: 50%;
}

.button-right{
    display: flex;
    width: 50%;
}

.button-left button{
text-decoration: none;
    border: none;
    color: black;
    background-color: #fefefe;
    border-bottom-left-radius: 8px;
    width: 100%;
    cursor: pointer;
    height: 25px;
}

.button-right button{
    text-decoration: none;
    border: none;
    color: black;
    background-color: #fefefe;
    border-bottom-right-radius: 8px;
    width: 100%;
    cursor: pointer;
    height: 25px;
}

.button-left button:hover{
    background-color: #e0024c;
    color: white;
    height: 25px;
}

.button-right button:hover {
    background-color: #e0024c;
    color: white;
    height: 25px;
}

