#login {
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;

}

.animate-bottom {
    position: relative;
    animation: animatebottom 1.1s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0;
        opacity: 1;
    }
}

/* .overlay{
    background-color: yellow;
    width: 100%;
    height: 100%;
} */